html{
	background-color: black;
}
h1{
	color: white;
}
#i_dont{

}
#i_use{
  margin:0 0;
	margin-left: 18%;
	padding: 0 0;
	padding-top: %;
	margin-bottom: :20%;
  box-sizing:border-box
}
#company{

}
img{
	margin:0 0;
	padding: 0 0;
	width: 50%;
	border-color: white;
	border-style: dashed;
	
	box-sizing: border-box;
}
